.banner-in__contact {
    .banner-about-hero__section {
        display: flex;
        align-items: center;
        min-height: 312px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        position: relative;
        border-radius: 16px;
        @include min-sm {
            margin-top: 32px;
        }
        @include md {
            background-position: right;
            &:before {
                position: absolute;
                content: "";
                background-color: rgba(255, 255, 255, 0.449);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        
    > .container {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;
        &.align-center {
            align-self: flex-start;
            h1 {
                text-align: left;
                @include min-md {
                    padding-left: 32px;
                }
            }
        }
        
        &.align-center {
            h1 {
                text-align: center;
            }
        }
    }
    .center {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            align-items: center;
        h1 {
            max-width: 800px;
            color: $white;
            font-size: 34px;
            line-height: 44px;
            font-weight: 700;
            text-align: center;
            @include min-md {
                font-size: 56px;
                line-height: 62px;
                letter-spacing: 2.24px;
            }
        }
        &.content-light {
            h1, p {
                color: $white;
            }
        }
        &.content-dark {
            h1, p {
                color: $black;
            }
        }
        .buttons {
            display: flex;
            column-gap: 20px;
            flex-wrap: wrap;
            row-gap: 10px;
            justify-content: center;
            a {
                @include button;
            }
            .two-btns {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
            }
        }
    }
    }  
    .banner-features__section {
        background-color: $brown-01;
        overflow: hidden;
        padding: 32px 16px;
        position: relative;
        @include min-sm {
            border-radius: 0 0 16px 16px;
            padding: 40px;
        }
        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-image: url(../img/svg/foot.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
        }
        .row {
            > div {
                padding: 0;
                position: relative;
                @include min-sm {
                    &:not(:first-of-type):after, &:not(:first-of-type):after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 100%;
                        background-color: $brown-02;
                        left: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                @include sm {
                    width: 100%;
                    &:not(:last-of-type) {
                        margin-bottom: 16px;
                    }
                    &:not(:first-of-type):before, &:not(:first-of-type):before {
                        position: relative;
                        content: "";
                        display: flex;
                        width: 100%;
                        height: 1px;
                        background-color: $brown-02;
                        left: 0;
                        margin-bottom: 16px;
                    }
                }
            }
        }
        .feature-item {
            display: flex;
            row-gap: 16px;
            text-align: center;
            align-items: center;
            column-gap: 16px;
            @include min-sm {
                flex-direction: column;
            }
            .feature-text {
                font-size: 18px;
                line-height: 23px;
                font-weight: 700;
                color: $white;
            }
        }
    }
}
.banner-contact__section {
    .center {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    h1 {
        max-width: 800px;
        color: $white;
        font-size: 34px;
        line-height: 44px;
        font-weight: 700;
        text-align: center;
        margin: auto;
        @include min-md {
            font-size: 56px;
            line-height: 62px;
            letter-spacing: 2.24px;
        }
    }
    &.content-light {
        h1, p {
            color: $white;
        }
    }
    &.content-dark {
        h1, p {
            color: $black;
        }
    }
    .buttons {
        display: flex;
        column-gap: 20px;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
        a {
            @include button;
        }
        .two-btns {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }
    }
}
}
.parent-container-about-hero__section {
    @include sm {
        max-width: unset!important;
        padding: 0;
    }
}