.reviews__section {
    // padding: 60px 0;

    // @include min-md {
    //     padding: 80px 0;
    // }

    .section-header {
        text-align: center;

        .section-title {
            font-size: 32px;
            font-weight: 700;
            color: $black;
            margin: 0;

            @include min-md {
                font-size: 48px;
            }
        }
    }

    .mySwiper-reviews {
        background-color: $grey-02;
        border-radius: 16px;
        .swiper-slide {
            display: grid;
            grid-template-columns: 1fr;
            min-height: 320px;
            height: auto;
            @include min-md {
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 60px;
            }
        }
    }

    .review-text {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 16px;
        @include min-md {
            order: 1;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 40px;
            padding-right: 20px;
        }
        .review-content {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        }
        h3 {
            font-size: 22px;
            font-weight: 500;
            color: $black;
            line-height: 25px;

            @include min-md {
                font-size: 24px;
                line-height: 28px;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.6;
            color: $black;
            letter-spacing: .56px;
            opacity: .6;
        }
    }

    .swiper-pagination {
        margin-top: 30px;
        position: relative;
        text-align: left;
        align-items: center;
        display: flex;
        .swiper-pagination-bullet {
            width: 34px;
            height: 7px;
            background: $brown-03;
            opacity: 1;
            border-radius: 8px;
            transition: all 0.3s ease;
            opacity: .7;

            &-active {
                background: $brown-02;
                width: 65px;
                height: 14px;
                overflow: hidden;
                opacity: 1;
                // border-radius: 6px;
                position: relative;
                &:after {
                    position: absolute;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="27.509" height="27.825" viewBox="0 0 27.509 27.825"><g id="Group_5732" data-name="Group 5732" transform="translate(0 0)"><path id="Path_2573" data-name="Path 2573" d="M219.849,306.828c1.4-1.207,1.72-3.2,1.637-4.956a13.507,13.507,0,0,0-.376-2.523,14.524,14.524,0,0,0-3.546-6.756,5.514,5.514,0,0,0-2.276-1.489,8.232,8.232,0,0,0-7.189,1.56,13.866,13.866,0,0,0-2.9,3,9.368,9.368,0,0,0-1.961,4.31A3.907,3.907,0,0,0,205,303.892a4.437,4.437,0,0,0,2.921.436,13.629,13.629,0,0,1,3.2-.633c2.3.169,3.617,2.744,5.573,3.665a2.891,2.891,0,0,0,3.163-.533" transform="translate(-201.692 -279.798)" fill="%23fff"/><path id="Path_2574" data-name="Path 2574" d="M129.025,86.928a8.613,8.613,0,0,0,.884-1.568,6.423,6.423,0,0,0,.727-3.127,2.151,2.151,0,0,0-2.864-1.849c-2.565.632-4.012,3.338-4.527,5.733-.212.985-.108,2.332.87,2.88A3.235,3.235,0,0,0,127.2,88.6a5.8,5.8,0,0,0,1.823-1.676" transform="translate(-107.812 -77.252)" fill="%23fff"/><path id="Path_2575" data-name="Path 2575" d="M368.623,5.884a9.23,9.23,0,0,0-.3-3.52A3.449,3.449,0,0,0,367.041.342c-2.092-1.35-3.859,1.627-4.185,3.342a8.977,8.977,0,0,0,.324,4.27l.025.082c.379,1.2,1.42,2.438,2.8,1.962a3.724,3.724,0,0,0,2.031-1.983,6.845,6.845,0,0,0,.589-2.13" transform="translate(-354.918 -0.001)" fill="%23fff"/><path id="Path_2576" data-name="Path 2576" d="M4.491,317.216a6.693,6.693,0,0,0,2.043-1.985c.708-1.016,1.079-2.662-.125-3.473a3.456,3.456,0,0,0-3.145-.076,5.705,5.705,0,0,0-3.1,3.278,2.286,2.286,0,0,0,.643,2.7c1.11.716,2.644.113,3.681-.441" transform="translate(20.317 -299.541)" fill="%23fff"/><path id="Path_2577" data-name="Path 2577" d="M566.9,144.114A5.616,5.616,0,0,0,564.13,141a2,2,0,0,0-2.791,1.078,4.017,4.017,0,0,0,.28,3.374,5.691,5.691,0,0,0,2.842,2.783,2.2,2.2,0,0,0,2.336-.579c.851-.962.531-2.467.1-3.548" transform="translate(-561.09 -135.457)" fill="%23fff"/></g></svg>');
                    width: 100%;
                    content: "";
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 90% 130%;
                    border-radius: 8px;
                }
            }
        }
    }

    .review-image {
        overflow: hidden;
        order: 1;
        min-height: 150px;
        height: 200px;
        border-radius: 0 0 16px 16px;
        @include min-md {
            order: 2;
            min-height: 320px;
            border-radius: 16px 0 0 16px;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}
