/* 3 Boxes style Start */
.three-box-about__section {
    // padding: 60px 0 10px 0;
    // @include md {
    //     padding: 40px 0;
    // }
    .row {
        row-gap: 20px;
    }

    .box {
        .box__wrap {
            display: flex;
            background-color: $grey-02;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            height: 100%;
            border-radius: 16px;
            padding: 24px;
            flex-direction: column;
            row-gap: 16px;
            .img {
                width: 26px;
                    height: 26px;
                @include min-md {
                    width: 42px;
                    height: 42px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .box__title {
                font-size: 18px;
                font-weight: 700;
                color: $brown-01;
                line-height: 23px;
            }
            .box__subtitle {
                font-size: 14px;
                color: $grey-color;
            }
        }
    }
}

/* 3 Boxes style END */