.banner-contact-form__section {
    display: flex;
    align-items: center;
    min-height: 312px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    position: relative;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    // margin: 40px 0;
    border-radius: 16px;
    @include md {
        // margin: 0 0 40px 0;
    }
> .container {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    }
    .center {
        max-width: 550px;
        width: 100%;
        background-color: $white;
        padding: 24px;
        border-radius: 16px;
        margin: auto;
        @include min-md {
            margin-right: 24px;
            margin-left: auto;
        }
        h2 {
            font-size: 24px;
            line-height: 20px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 24px;
            text-align: left;
        }
        .wpcf7 {
            form {
                .row {
                    margin: 0;
                    .col-lg-12 {
                        padding: 0;
                    }
                    .label {
                        margin-bottom: 12px;
                        span {
                            input {
                                width: 100%;
                                height: 40px;
                                padding-left: 10px;
                                border-radius: 20px;
                                color: $brown-01;
                                border: 1px solid $border-color;
                                &::placeholder {
                                    color: $placeholder;
                                }
                            }
                            textarea {
                                width: 100%;
                                height: 100px;
                                padding-top: 6px;
                                padding-left: 10px;
                                border-radius: 20px;
                                color: $brown-01;
                                border: 1px solid $border-color;
                                &::placeholder {
                                    color: $placeholder;
                                }
                            }
                        }
                    }
                    .submit-form {
                        button {
                            @include button;
                        }
                    }
                }
            }
        }
    }
}  