/* Boxes with post type and swiper style Start */
.block-small-swiper {
    padding: 40px 0;
    background-color: $brown-03;
    @include md {
        padding: 20px 0;
    }
    .swiper {
        .slider-wrap {
            // justify-content: flex-end;
            // flex-direction: column;
            display: flex;
            text-align: center;
            align-items: center;
            column-gap: 9px;
            row-gap: 9px;
            @include sm {
                justify-content: center;
            }
            .img {
                width: 50px;
                height: 50px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            } 

            .content {
                flex-direction: column;
                display: flex;
                row-gap: 4px;
                span {
                    font-size: 22px;
                    line-height: 24px;
                    letter-spacing: .88px;
                    text-align: left;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    text-align: left;
                }
            }
        }
    }
}

/* Boxes with post type and swiper style END */