.news-form__section {
    background-color: $brown-01;
    border-radius: 16px;
    margin: 0 0 40px 0;
    padding: 32px;
    margin-top: 50px;
    @include min-md {
        margin-top: 60px;
    }
    @include md {
        padding: 32px 16px;
    }
    .row {
        @include md {
            row-gap: 20px;
        }
    }
    .news-form__left {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        h2 {
            color: $brown-03;
            font-size: 42px;
            font-weight: 700;
            line-height: 42px;
        }
        p {
            color: $brown-03;
            font-size: 18px;
            line-height: 20px;
            @include min-sm {
                font-size: 24px;
                line-height: 24px;
            }
        }
    }
    .news-form__right {
        align-self: center;
        display: flex;
        @include min-md {
            justify-content: flex-end;
        }
        .tnp {
            margin: 0;
            // max-width: 600px;
            width: 100%;
            form {
                display: flex;
                justify-content: flex-end;
                overflow: hidden;
                @include min-sm {
                    background-color: $white;
                    border-radius: 20px;
                }
                @include sm {
                    flex-direction: column;
                    row-gap: 12px;
                }
                label {
                    display: none;
                    font-size: 0;
                }
                .tnp-field {
                    margin-bottom: 0;
                }
                .tnp-field-email {
                    width: 100%;
                    @include sm {
                        border-radius: 20px;
                        overflow: hidden;
                    }
                    input {
                        background-color: $white;
                        &::placeholder {
                            color: $placeholder;
                        }
                    }
                }
                .tnp-field-button {
                    input {
                        @include button;
                        border-radius: 20px;
                        background-color: $brown-02;
                        padding-left: 24px;
                        padding-right: 24px;
                        color: $brown-01;
                        height: 100%!important;
                        min-width: unset!important;
                        @include sm {
                            min-width: 200px;
                        }
                    }
                }
            }
        }
        .wpcf7 {
            width: 100%;
            form {
                .row {
                    .col-lg-12 {
                        padding: 0;
                    }
                    .label {
                        margin-bottom: 12px;
                        span {
                            input {
                                width: 100%;
                                height: 40px;
                                padding-left: 10px;
                                border-radius: 20px;
                                color: $brown-01;
                                border: 1px solid $border-color;
                                &::placeholder {
                                    color: $placeholder;
                                }
                            }
                            textarea {
                                width: 100%;
                                height: 100px;
                                padding-top: 6px;
                                padding-left: 10px;
                                border-radius: 20px;
                                color: $brown-01;
                                border: 1px solid $border-color;
                                &::placeholder {
                                    color: $placeholder;
                                }
                            }
                        }
                    }
                    .submit-form {
                        button {
                            @include button;
                        }
                    }
                }
            }
        }
    }
}