//Hero'S Styles
.block-hero {
    min-height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    // background-repeat: no-repeat;
    background-size: cover;
        margin-bottom: 40px;
    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0, 0, 0, 0.8);
    // }
    &.light-content {
        .content {
            &>* {
                color: $white!important;
            }
        }
    }
    &.dark-content {
        .content {
            &>* {
                color: $black;
            }
        }
    }
}