.menu-m {
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 40px;
    height: 30px;
    
    .menu-bottom-click,
    .menu-top-click {
        border-color: $black !important;
    }

    .menu-global.menu-top-click,
    .menu-global.menu-bottom-click {
        left: 20%;
    }

    span {
        &:nth-child(1) {
            border-color: $black;
        }

        &:nth-child(2) {
            border-color: $black;
        }

        &:nth-child(3) {
            border-color: $black;
        }
    }

    .menu-global {
        backface-visibility: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-top: 3px solid;
        width: 25px;
        transition: 0.44s;
        -webkit-transition: 0.44s;
        -moz-transition: 0.44s;
        -ms-transition: 0.44s;
        -o-transition: 0.44s;
        border-radius: 24px;
        border-radius: 8px;
    }

    .menu-top {
        top: 7px;
    }

    .menu-middle {
        top: 14px;
    }

    .menu-bottom {
        top: 21px;
    }

    .menu-top-click {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(50deg);
        transition: 0.44s;
        -webkit-transition: 0.44s;
        -moz-transition: 0.44s;
        -ms-transition: 0.44s;
        -o-transition: 0.44s;
    }

    .menu-middle-click {
        opacity: 0;
    }

    .menu-bottom-click {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(-410deg);
        transition: 0.44s 0.4s;
        -webkit-transition: 0.44s;
        -moz-transition: 0.44s 0.4s;
        -ms-transition: 0.44s 0.4s;
        -o-transition: 0.44s 0.4s;
    }
}

.navbar-toggler {
    border: unset;
    outline: unset;
    padding-left: 0;
    position: relative;
    margin-left: -8px;
    &:focus {
        box-shadow: unset;
        outline: unset;
    }
}