/* Global Header style START*/
.navbar-toggler {
    padding: 0 !important;
    outline: unset !important;
    border-color: unset !important;
    border: unset !important;
    z-index: 99;

    &:focus {
        box-shadow: unset;
    }
}

.menu-m {
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 40px;
    height: 30px;

    .menu-bottom-click,
    .menu-top-click {
        border-color: $black !important;
    }

    .menu-global.menu-top-click,
    .menu-global.menu-bottom-click {
        left: 20%;
    }

    span {
        &:nth-child(1) {
            border-color: $black;
        }

        &:nth-child(2) {
            border-color: $black;
        }

        &:nth-child(3) {
            border-color: $black;
        }
    }

    .menu-global {
        backface-visibility: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-top: 3px solid;
        width: 25px;
        transition: 0.44s;
        -webkit-transition: 0.44s;
        -moz-transition: 0.44s;
        -ms-transition: 0.44s;
        -o-transition: 0.44s;
        border-radius: 24px;
        border-radius: 8px;
    }

    .menu-top {
        top: 7px;
    }

    .menu-middle {
        top: 14px;
    }

    .menu-bottom {
        top: 21px;
    }

    .menu-top-click {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(50deg);
        transition: 0.44s;
        -webkit-transition: 0.44s;
        -moz-transition: 0.44s;
        -ms-transition: 0.44s;
        -o-transition: 0.44s;
    }

    .menu-middle-click {
        opacity: 0;
    }

    .menu-bottom-click {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(-410deg);
        transition: 0.44s 0.4s;
        -webkit-transition: 0.44s;
        -moz-transition: 0.44s 0.4s;
        -ms-transition: 0.44s 0.4s;
        -o-transition: 0.44s 0.4s;
    }
}

.logo_header {
    z-index: 3;
    .widget-wrapper {
        height: 40px;
        max-width: 170px;
        img {
            width: 100%;
            height: 100% !important;
            -o-object-fit: contain;
            object-fit: contain;
            -o-object-position: left;
            object-position: left;
        }
    }
    .widget-wrapper:last-child {
        @media(min-width: 991.98px) {
            display: none;
        }
    }
    .widget-wrapper:first-child {
        @include md {
            display: none;
        }
    }
    &.logo-change-on-scroll {
        img:first-child {
            display: none;
        }

        img:last-child {
            display: inherit !important;
        }

        .widget-wrapper:first-child {
            display: none;
        }

        .widget-wrapper:last-child {
            display: inherit !important;
        }
    }
}

header {
    position: relative;
}

.header-sticky:not(.with-announcement) {
    header {
     position: sticky;
     top: 0;
     z-index: 2;
    }
 }
 
 .header-sticky {
     &.body-on-scroll {
         #headerbar {
             width: 100%;
             position: fixed;
             top: 0;
         }
     }
 }
 
 body {
     &.menu-open {
         overflow: hidden;
         &:not(.minimalmenu) {
             // overflow: hidden;
         }
         &:before {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: 2;
            content: "";
            background-color: #000000a8;
         }
         .headerbar {
            transition: unset;
            background: unset;
         }
         .menu-item-custom-cart, .logo_header {
            // filter: brightness(.5);
         }
         &.rightmenu, &.centerized-logo {
             @include min-xs {
                 &:before {
                     position: fixed;
                     content: "";
                     width: 100%;
                     height: 100%;
                     opacity: 1;
                     @include filter-header;
                     transition: 1s;
                     background: #000000a6;
                     z-index: 2;
                 }   
             }
             .headerbar {
                 overflow: hidden;
                //  position: fixed;
                 width: 100%;
                 #navbarNav {
                     height: 100%!important;
                     overflow-y: auto;
                     .navbar-nav {
                         height: 100%;
                         position: relative;
                         padding-top: 170px;
                         @include md {
                            justify-content: flex-start;
                         }
                         li {
                            //  &:last-of-type {
                            //      padding-bottom: 20px;
                            //  }
                         }
                     }
                 }
                 @include min-xs {
                     &:before {
                         position: absolute;
                         content: "";
                         width: 100%;
                         height: 100%;
                         opacity: 1;
                         z-index: 11;
                         @include filter-header;
                         transition: 1s;
                         background: #000000a6;
                     } 
                 } 
            }
         }
         &.rightmenu {
            @include xs {
                .headerbar {
                    #navbarNav {
                        height: calc(100% - var(--header-height))!important;
                        .navbar-nav { 
                            padding-top: 20px;
                        }
                    }
                }
            }
         }
     }
 }
 
//  .shadow-show-on-scroll .headerbar{
//      box-shadow: 0px 6px 12px #00000010;
//      @include transition;
//  }
 
//  .reduce-header-height-on-scroll {
//      @include transition;
//      padding: 10px 0 !important;
//  }
 
 .image-on-menu-item {
     width: 30px;
     height: 30px;
     background-repeat: no-repeat;
     background-size: contain;
     display: inline-flex;
 }
 
 #wpadminbar {
     position: absolute!important;
 }
/* Global Header Style END*/