body {
    .top-bar {
        position: relative;
        height: $announcement-bar-height;
        background: $brown-01;
        display: flex;
        align-items: center;
        height: 30px;
        overflow: hidden;

        &-wrapper {
            justify-content: space-between;

            &--left, &--right {
                a {
                    display: flex;
                    font-size: 14px;
                    line-height: 18px;
                    color: $white;
                    align-items: center;
                }
            }

            &--left {
                display: flex;
                align-items: center;
                a {
                    span {
                        color: $brown-02;
                        font-weight: 700;
                        margin-right: 5px;
                    }
                }
            }

            &--right {
                display: flex;
                align-items: center;
                column-gap: 16px;
                a {
                    img {
                        max-width: 18px;
                        max-height: 18px;
                    }
                    span {
                        margin-left: 5px;
                        @include md {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .header-bar {
        height: $header-bar-height;
        background: $white;
        align-items: center;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 50;
        box-shadow: 0px 2px 10px #00000029;
        transition: all .3s ease-in-out;

        &-wrapper {
            .logo_header {

            }
            .navbarNavLeft {
                
            }
            .navbarNavRight {
                
            }
            .navbar-collapse {
                @include md {
                    display: none;
                }
                &-menu {
                    column-gap: 10px;
                    color: #000;
                    text-transform: capitalize;
                    display: flex;
                    font-size: 14px;
                    line-height: 18px;
                    align-items: center;
                    column-gap: 30px;
                    row-gap: 20px;
                }
                &.navbarNavRight {
                    justify-content: flex-end;
                }
            }
            .menu-item-custom-cart {
                margin-left: 20px;
                a {
                    display: flex;
                    svg {
                        margin-right: -10px;
                    }
                    .cart-count {
                        border-radius: 50%;
                        background: $brown-01;
                        color: $white;
                        width: 16px;
                        height: 16px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        font-size: 12px;
                        margin-top: -10px;
                    }
                }
            }
        }
    }

    
    &.menu-open {
        .navbar-collapse { 
            &.show {
                // left: -80%;
            }
        }
        #page {
            
            &:before {
                // content: '';
                // position: fixed;
                // top: 0;
                // left: 0;
                // width: 100%;
                // height: 100%;
                // background-color: rgba(0, 0, 0, 0.7);
                // z-index: 999999;
            }
        }
        // .modal-backdrop {
        //     position: fixed;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba(0, 0, 0, 0.7);
        //     z-index: 999999;
        // }
    }

    .navbar-nav-mobile {
        position: fixed;
        left: -100%;
        height: 100%;
        width: 75%;
        background-color: #fbfbfc;
        transition: .2s ease-out;
        z-index: 9999;
        @include xs {
            width: 85%;
        }
        @include min-md {
            display: none;
        }
        &.show {
            left: 0%;
        }
        .button-wrapper {
            background-color: #e5e5e7;
            height: 50px;
            overflow: hidden;
            z-index: 99999;
            padding: 4px 16px 4px 16px;
            position: relative;
            align-items: center;
            align-self: center;
            display: flex;
            button {
                right: 8px;
                position: absolute;
            }
            span {
                font-size: 14px;
            }
        }
        .main-nav-toggle {
            padding: 16px 16px 16px 16px;
            overflow-y: auto;
            max-height: calc(100vh - 60px);
            .navbar-nav {
                -moz-column-gap: 30px;
                column-gap: 30px;
                row-gap: 20px;
                width: 100%;
                li {
                    box-shadow: 0 3px 6px rgba(21, 48, 92, .0784313725);
                    // margin: 0 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 8px;
                    a {
                        -moz-column-gap: 10px;
                        column-gap: 10px;
                        color: #000;
                        min-height: 40px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        line-height: 18px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
.navbar-nav-mobile {
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    position: relative;
}


.mobile-menu-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: env(safe-area-inset-top);
    bottom: env(safe-area-inset-bottom);
    background: rgba(0,0,0,0.7);
    z-index: 999;
    pointer-events: none;
}

body.menu-open {
    // overflow: hidden;
    // overscroll-behavior: none;
    position: fixed;
    width: 100%;
}