.woocommerce-MyAccount-navigation-custom {
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        li {
            box-shadow: 0px 3px 6px #15305C14;
            // margin: 0 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            border-radius: 8px;
            &:hover {
                @include transition;
                background-color: $brown-02;
            }
            a {
                color: $black;
                min-height: 40px;
                font-size: 14px;
                line-height: 18px;
                @include min-md {
                    display: flex;
                    font-size: 14px;
                    line-height: 18px;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
}

.woocommerce-MyAccount-content-custom {
    p {
        font-size: 14px;
        line-height: 18px;
        color: $black;
    }
    .addresses {
        & > div {
            flex-direction: column;
            row-gap: 12px;
            display: flex;
            header {
                h2 {
                    margin-bottom: 12px
                }
                a {
                    float: unset!important;
                    @include button;
                }
            }
            address {
                margin-bottom: 0;
                font-size: 14px;
            }
        }
    }
    .edit-account {
        .woocommerce-Button {
            @include button;
        }
        .woocommerce-form-row {
            input {
                width: 100%;
                height: 40px;
                padding-left: 10px;
                border-radius: 20px;
                color: $brown-01;
                border: 1px solid $grey-03;
                &::placeholder {
                    color: $placeholder;
                }
                &:active, &.focus {
                    border-color: $brown-02;
                }
            }
        }
    }
}
