@import "other/mixins";
@import "other/variables";
@import "other/fonts";
@import "other/general";
@import "layouts/error404";
@import "headers/global-header-style";
@import "headers/rightmenu";
@import "headers/minimalmenu";
@import "headers/centerized-logo";
@import "layouts/home";
@import "footers/default"; 
@import "contactform/contactform";
@import "contactform/contactform-2";
@import "layouts/singles";
@import "layouts/archive";

@import "blocks/hero";
@import "blocks/block-banner";
@import "blocks/block-small-swiper";
@import "blocks/block-image-with-text";
@import "blocks/block-news-form";
@import "blocks/block-about-hero";
@import "blocks/block-three-boxes-about";
@import "blocks/block-reviews";
@import "blocks/block-infinite-swiper";
@import "blocks/block-contact-hero";
@import "blocks/block-three-boxes-contact";
@import "blocks/block-contact-banner-one";

@import "woo/content-product__box";
@import "woo/single-product";
@import "woo/archive-product";
@import "woo/cart";
@import "woo/checkout";
@import "woo/login-register";
@import "woo/filters-collapsible";
@import "woo/my-account";






/* WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}