/* Fonts START*/

// body{
//     @media(min-width: 450px) { font-size: 15px; }
//     @media(min-width: 991.98px) { font-size: 16px; }
//     font-size: 14px;
// }
// .h1,h1{
//     @media(min-width: 450px) { font-size: 36px; }
//     @media(min-width: 991.98px) { font-size: 40px; }
//     font-size: 24px;
// }
// .h2,h2{
//     @media(min-width: 450px) { font-size: 28px; }
//     @media(min-width: 991.98px) { font-size: 32px; }
//     font-size: 22px;
// }
// .h3,h3{
//     @media(min-width: 450px) { font-size: 24px; }
//     @media(min-width: 991.98px) { font-size: 28px; }
//     font-size: 18px;
// }
// .h4,h4{
//     @media(min-width: 450px) { font-size: 20px; }
//     @media(min-width: 991.98px) { font-size: 24px; }
//     font-size: 16px;
// }
// .h5,h5{
//     @media(min-width: 450px) { font-size: 18px; }
//     @media(min-width: 991.98px) { font-size: 20px; }
//     font-size: 14px;
// }
// .h6,h6{
//     @media(min-width: 450px) { font-size: 14px; }
//     @media(min-width: 991.98px) { font-size: 16px; }
//     font-size: 12px;
// }

//Version used from Bootstrap which can be customized and set like this
// font-size: calc(3.375rem + 1.5vw);

// @font-face {
//     font-family: "base-theme";
//     font-display: swap;
//     font-style: normal;
//     font-weight: 100; /* Thin */
//     src: url(../fonts/Montserrat-Thin.ttf) format('truetype'),
//          url(../fonts/Montserrat-Thin.woff2) format('woff2'),
//          url(../fonts/Montserrat-Thin.woff) format('woff');
// }

@font-face {
    font-family: "base-theme";
    font-display: swap;
    font-style: normal;
    font-weight: 200; /* Extra Light */
    src: url(../fonts/Nunito/Nunito-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: "base-theme";
    font-display: swap;
    font-style: normal;
    font-weight: 300; /* Light */
    src: url(../fonts/Nunito/Nunito-Light.ttf) format('truetype');
}

@font-face {
    font-family: "base-theme";
    font-display: swap;
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "base-theme";
    font-display: swap;
    font-style: normal;
    font-weight: 500; /* Medium */
    src: url(../fonts/Nunito/Nunito-Medium.ttf) format('truetype');
}

@font-face {
    font-family: "base-theme";
    font-display: swap;
    font-style: normal;
    font-weight: 600; /* Semi-Bold */
    src: url(../fonts/Nunito/Nunito-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: "base-theme";
    font-display: swap;
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url(../fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "base-theme";
    font-display: swap;
    font-style: normal;
    font-weight: 800; /* Extra Bold */
    src: url(../fonts/Nunito/Nunito-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: "base-theme";
    font-display: swap;
    font-style: normal;
    font-weight: 900; /* Black */
    src: url(../fonts/Nunito/Nunito-Black.ttf) format('truetype');
}
/* Fonts END*/