/* Variables START*/

$white: #fff;
$white-light: #f9f9f9;
$black: #000000;
$red: red;
$red-light: #FF5A5F;

$brown-01: #432818;
$brown-02: #DDB892;
$brown-03: #F5EBE0;

$grey-01: #F0F2F4;
$grey-02: #F8F9FA;
$grey-03: #AAAAAA;
$grey-04: #818181;
$grey-05: #ddd;
// $grey-03: #AAAAAA;

$placeholder: #4328183D;

$border-color: #3A241814;
$border-color-2: #aaaaaa9b;
$border-color-3: #E6E7ED;

$primary-color: coral;
$primary-color-light: coral;
$secondary-color: #000;
$secondary-color-light: #000000a4;
$grey-color: #888;

@mixin transition {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

@mixin filter-header {
    filter: brightness(.6);
}

@mixin button {
    min-width: 165px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid transparent;
    color: $black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: box-shadow, transform;

    background-color: $brown-02;

    background-image: linear-gradient(
        to right,
        mix($brown-01, $brown-02, 40%) 0%,   // softened dark tone
        $brown-02 35%,
        $brown-03 50%,
        $brown-02 65%,
        mix($brown-01, $brown-02, 40%) 100%
    );

    border-radius: 20px;

    box-shadow: 
        0 2px 4px rgba(67, 40, 24, 0.25),
        0 3px 6px -2px rgba(67, 40, 24, 0.30),
        0 1px 8px rgba(67, 40, 24, 0.20);

    background-size: 200% auto !important;
    white-space: nowrap;

    transition:
        box-shadow 0.2s cubic-bezier(.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(.4, 0, .2, 1),
        background-position 0.5s;

    height: 35px;
    font-size: 14px;

    @include min-md {
        min-width: 185px;
    }

    &:hover {
        box-shadow:
            0 14px 26px -12px rgba(67, 40, 24, 0.6),
            0 4px 23px rgba(0, 0, 0, 0.3),
            0 8px 10px -5px rgba(67, 40, 24, 0.4);
        background-position: right center;
        background-color: $brown-02;
        border-color: transparent;
    }
}


@mixin button-2 {
    //for this, background of section should be same as this background color
    background-color: #efefef;
    border: none;
    border-radius: 25px;
    padding: 2px 10px;
    color: $grey-color;
    box-shadow: -6px -6px 10px $white-light, 6px 6px 10px #00000026;
    transition: all .3s;
    &:hover {
        box-shadow: 2px 2px 2px $white-light, -2px -2px 2px #00000026;
    }    
}

/* Variables END*/