/* Footer Default Start*/
.body-on-scroll footer {
    position: relative;
}
footer {
    padding: 0px 0px;
    .site-footer-columns {
        padding: 30px 0;
        background: $grey-02;
        .footer-column {
            margin: 30px 0;
            @include md {
                max-width: 600px;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            @include sm {
                max-width: 90%;
            }
            ul {
                .widget_text {
                    ul {
                        display: flex;
                        flex-direction: column;
                        row-gap: 9px;
                    }
                }
            }
            a, p {
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
            }
            &.footer-3 {
                ul {
                    ul {
                        display: flex;
                        flex-direction: column;
                        row-gap: 9px;
                    }
                }
            }
            &.footer-4 {
                ul {
                    .textwidget {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                        align-items: center;
                        @include min-sm {
                            display: grid;
                            grid-template-columns: repeat(3, 50px);
                        }
                        img {
                            
                        }
                    }
                }
            }
            &.footer-5 {
                .widget-wrapper {
                    img {
                        width: 100%;
                        height: 100%!important;
                        object-fit: contain;
                        max-width: 150px!important;
                    }
                }
            }
        }
        .widget-title {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            display: block;
            margin-bottom: 16px;
        }
        .footer-1 {
            row-gap: 20px;
            display: flex;
            row-gap: 20px;
            flex-direction: column;
            > ul {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
            }
            ul.social-media-ul {
                display: flex;
                flex-direction: row!important;
                gap: 20px;
                li {
                    a {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .site-footer-copyrights {
        padding: 10px 0;
        background: $grey-01;
        .wrapper {
            display: flex;
            justify-content: space-between;
            @include sm {
                flex-direction: column-reverse;
                row-gap: 10px;
                align-items: flex-start;
            }
        }
        p, a {
            margin: 0;
            text-align: center;
            color: $black;
            font-size: 14px;
            // line-height: 18px;
        }
        .bottom-footer-menu {
            ul {
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }
    }
    .logo_footer {
        // z-index: 3;
        .widget-wrapper {
            height: 40px;
            max-width: 170px;
            img {
                width: 100%;
                height: 100% !important;
                -o-object-fit: contain;
                object-fit: contain;
                -o-object-position: left;
                object-position: left;
            }
        }
    }
}

/* Footer Default End*/